#Ignore database local data
.docker/dbdata/

#Ignore zsh configurarion
.docker/zsh/history/

#Ignore vscode dev environment
.devcontainer/

#Ignore git configuration files
.git/
.github/

#Ignore compile package for distribution
public/js/bundle*

#Ignore node package repository library
node_modules/
npm-debug.log

#Ignore all docker related files (.md)
docker-compose*
Dockerfile*

#Ignore all markdown files (.md)
*.md